.animations {
  $el: &;

  #{$el}__inner {
    position: relative;
    z-index: 99;
  }

  #{$el}__title {
    white-space: nowrap;
    position: relative;
    color: $lightcolor;

    font-size: 50px;
    font-weight: 200;
    line-height: 50px;

    & > span {
      position: relative;
      overflow: hidden;
      display: inline-block;
      text-align: center;
    }

    &-container {
      position: absolute;
      overflow: hidden;
      top: 50%; left: 50%;
      transform: translate(-50%, -75%);
    }

    & > span {
      transform: translateY(100px);
    }
  }
}
